<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <title>Registro</title>
</head>
<body>

<form action="pagina_principal.html" method="post">
    <h2>Registro</h2>
    <div class="input-container">
        <input type="text" id="nombre" name="nombre" required placeholder="Nombre">
        <label for="nombre"></label>
    </div>

    <div class="input-container">
        <input type="text" id="apellido" name="apellido" required placeholder="Apellido">
        <label for="apellido"></label>
    </div>

    <div class="input-container">
        <input type="text" id="usuario" name="usuario" required placeholder="Nombre de usuario">
        <label for="usuario"></label>
    </div>

    <div class="input-container">
        <input type="email" id="email" name="email" required placeholder="Email">
        <label for="email"></label>
    </div>

    <div class="input-container">
        <label for="fecha_nacimiento">Fecha de nacimiento </label>
        <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required>
    </div>

    <div class="input-container">
        <input type="text" id="domicilio" name="domicilio" required placeholder="Domicilio">
        <label for="domicilio"></label>
    </div>

    <div class="input-container">
        <select id="perfil" name="perfil" required>
            <option value="¿Que desea hacer?" disabled selected>¿Que desea hacer?</option>
            <option value="comprar">Comprar</option>
            <option value="vender">Vender</option>
        </select>
        <label for="perfil"></label>
    </div>
 
    <div class="input-container">
        <label for="categorias">Categorías de interés</label>
        <select id="categorias" name="categorias" multiple required>
            <option value="electro">Electro</option>
            <option value="moda">Moda</option>
            <option value="hogar">Hogar</option>
            <option value="jugueteria">Juguetería</option>
            <option value="vida_sana">Vida Sana</option>
        </select>
    </div>

    <div class="input-container">
        <label for="foto">Foto de usuario</label>
        <input type="file" id="foto" name="foto" accept="image/*" required>
    </div>
    
    <div class="input-container">
        <input type="password" id="contrasena" name="contrasena" required placeholder="Contraseña">
        <label for="contrasena"></label>
    </div>

    <div class="input-container">
        <input type="password" id="confirmar_contrasena" name="confirmar_contrasena" required placeholder="Confirmar contraseña">
        <label for="confirmar_contrasena"></label>
    </div>
    <input type="submit" value="Enviar">
    <input type="reset" value="Borrar datos">
</form>

</body>
</html>
