body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  margin-top: 20px; 
}

input[type="text"],
input[type="password"],
input[type="submit"] {
  width: 100%;
  padding: 12px; 
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #3483fa; 
  color: #fff;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #2b6cb0;
}
.error-message {
  color: red;
  margin-bottom: 10px;
}



header {
  background-color: #eac926;
  padding-top: 10px;
  background-size: auto;
  width: 100%;
}

.logoYSearch {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__searchBar1, .header__searchBar2{
  display: inline;
  border: 1px solid black;
  border-radius: 2px;
  background-color:white;
  line-height: 24px;
  padding: 2px;

}

li {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
} 

.header__searchBar1 {
  color: #ebebeb;
  margin-left: 10px;
}

.header__centered{
  text-align: center;
  margin: 10px;
}

.header__logo {
  padding-left: 10px;
}

.header__banner {
  display: block;
  width: 100vw;
  margin-top: 10px;

}

.header__burger-menu{
  display: block;
  border: 3px solid blue;
  border-radius: 3px;
  background-color: blue;
  text-align: center;
  color: white;
  font-size: 25px;
  margin: auto;
  max-width: 30px;
}

.header__logo {
  height: auto;
  width: 50vw;
}

.header__search {
  width: 50vw;
  text-align: center;
}

/*celular*/
@media(min-width: 0px) {
  .product__description--name {
      display: none;
  }

  .header__navbar {
      display: none;
  }

  .product__img, .product__description {
      display: flex;
      width: 100vw;
  }
}


/*tablet*/
@media(min-width: 361px) {
  .product__description--name {
      display: block;
  } 

  .header__navbar {
      display: block;
  }

  .product__img , .product__description{ 
      box-shadow: 0px 0px 10px rgb(100, 100, 100)
  }

  .header__burger-menu{
      display: none;
  }

  .logoYSearchYCompra {
      display: flex;
      flex-wrap: nowrap;
  }

  .header__logo {
      height: auto;
      width: 30%;
      order: -1;
  }
  
  .header__search {
      width: 50%;
      text-align: right;
      order: 0;
  }

  .header__centered {
      text-align: right;
      width: 50%;
      order: 1;

  }

  nav ul {
      display: flex;
      justify-content: space-between;
  }
}


/*desktop*/
@media(min-width: 769px) {
  .product__description--name {
      display: block;
  }

  .header__navbar {
      display: block;
  }

  .product__img , .product__description{ 
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .header__burger-menu{
      display: none;
  }

  nav ul {
      display: flex;
      justify-content: space-between;
  }
}